<html lang="en" ng-app="JabApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')"  class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>JAB:Just Another Boilerplate </h1>
      </div>
    </md-toolbar>

    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar layout="row" hide-gt-md>
      <div class="md-toolbar-tools" >

        <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Menu</h1>
      </div>
    </md-toolbar>
            <md-list ng-cloak>
                <md-list-item ng-click="toggleSidenav('left')" href="#demo">
                    Demo
                </md-list-item>
                <md-list-item ng-click="toggleSidenav('left')" href="#solution">
                    Proposed Solution
                </md-list-item>
                <md-list-item ng-click="toggleSidenav('left')" href="#cost">
                    Cost
                </md-list-item>
                <md-list-item ng-click="toggleSidenav('left')" href="#alternative">
                    Alternative Approach
                </md-list-item>
                <md-list-item ng-click="toggleSidenav('left')" href="#about">
                    About Kristin Aliberto
                </md-list-item>
                <md-list-item ng-click="toggleSidenav('left')" href="#demo">
                This Apps is Built With
                </md-list-item>

                <img src="./images/google.png" height="50px">
                <img src="./images/gunicorn.png" height="50px">
                <img src="./images/flask.jpeg" height="50px">
                <img src="./images/angular.png" height="50px">
                <img src="./images/nginx.png" height="50px">



        </md-sidenav>
        <div layout="column" flex id="content">
           <div ng-view>
        </div>
            </div>


  </div>

</div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>
    <script src="script/material.js"></script>

  </body>
</html>