<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Kristin</title>
</head>
<body ng-controller="AppCtrl">
 <div layout="column" flex id="content" class="md-body-2">
     <p>Kristin Aliberto is your prototypical “reluctant” career technologist. She banged away on her IBM
         PS/2 while in elementary school, tried to sort out the difference between AOL and the “internet”
         on a Packard Bell and built her first computer from scratch before her first middle school dance.
         She had her first and last formal experiences in Computer Science in high school, where she had
         the privilege of 2 full years of Computer Science, including the Advanced Placement course work.
         However she was turned off by the way the content was approached and quite frankly by the attitudes
         of many of her classmates.</p>

     <p>After getting a degree in something other than Computer Science (History) and not getting into a
         PhD program; she lept at the opportunity to get a job where she had recently graduated from, Temple University.
         She worked in their Student Center taking care of almost anything
         with an on and off switch. This included computers, movie equipment, game machines, professional
         audio equipment and digital signage. She was also her first taste of cloud computing because
         Temple University had recently moved to G Suite. She used those tools to help recruit, organize
         and do reporting on a staff of almost 100 student workers.</p>

     <p>Stuck doing very technical work in a non-technical role, Kristin moved to NYU to prove her bona fides
         in their central ITS department. It was there that she got tapped by ITS Student Technology Services
         to help with their G Suite migration program. Kristin met her future employer, Appirio, while liasoning
         with them as part of the larger project team. After the project she was offered a job at Appirio.</p>

     <p>Kristin was a “sketchy” hire for the VC backed Appirio when she was hired in the Summer of 2011.
         Originally the plan was for Kristin to do change enablement but she had other plans.
         By consistently raising her hand and saying, ‘I think I can do that, give e a shot,”
         Kristin won the trust and respect of her teammates.
         Within 3 years Kristin had become Appirio's lead Google architect.
         She has led and participated in technology programs on 5 continents,
         across multiple business verticals.</p>



            </div>
</body>
</html>